@import 'tailwindcss';
@import "leaflet/dist/leaflet.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
  font-family: 'Etelka Narrow Text Pro';
  src: url('/fonts/EtelkaNarrowTextPro.woff2') format('woff2'),
       url('/fonts/EtelkaNarrowTextPro.woff') format('woff'),
       url('/fonts/EtelkaNarrowTextPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container-16-9 { aspect-ratio: 16 / 9; width: 100%; /* ou une largeur fixe */ background: #eee; /* juste pour visualiser */ }